body {
    margin: 0;
    padding: 0;
    background-color: #E1E1E8;
    font-family: 'Roboto', sans-serif;
}

/* style card */

.container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.cards {
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 20px;
    border-bottom: 1px solid #AEAEB3;
}

.logoGasNameContainer {
    width: 42px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #FFFFFF;
    background-color: #03B252;
}

.logoGasName {
    font-size: 12px;
    font-weight: bold;
    transform: rotate(-0.25turn);
}

.cardDetailContainer {
    width: 95%;
    height: 100%;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    pointer-events: none;
}

.titleStore {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15;
    color: #7A7A80;
}

.storeDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.noteContainer {

    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;

}

.noteTitle {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5;
    color: #7A7A80;
}

.noteNumber {
    display: flex;
    font-weight: bold;
    font-size: 18px;

    display: flex;
    align-items: center;
    gap: 2px;

}

/* .timeContainer{}; */

.timeTitle {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #7A7A80;
}

.timeNumber {
    font-weight: bold;
    font-size: 18px;
}

.valorTitle {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #7A7A80;
}

.valorNumber {
    font-weight: bold;
    font-size: 18px;
}