 body {

     margin: 0;
     padding: 0;
     background-color: #E1E1E8;
     font-family: 'Roboto', sans-serif;

 }

 header {

     width: 100%;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: #FFFFFF;
 }

 main {
     width: 100vw;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #E1E1E8;

 }

 .page {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

 }

 .TitleHeader {
     color: #FFFFFF;
 }

 .headercontent {
     width: 100%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     background: #5F9DF7;
 }

 .ButtonBack,
 .ButtonQuestion {
     background: transparent;
     border: 0;
     cursor: pointer;
 }

 .Carrinho {
     width: 100vw;
     display: flex;
     justify-content: space-evenly;
     align-items: center;

     border-bottom: 1px solid #AEAEB3;
     border-top: 1px solid #AEAEB3;
     ;
     background: #FFFFFF;
 }



 .logoGasName,
 .logoGasNameContainer {
     font-size: 12px;
     font-weight: 500;
     color: #7A7A80;
 }

 .cardHeader,
 .cardContent {
     width: 70vw;

     display: flex;

     justify-content: space-between;
     align-items: center;
     padding: 0 40px;
 }

 .cardHeader {

     height: 90px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     background: #FFFFFF;
 }

 .cardContent {
     height: 260px;
     flex-direction: column;
     margin-bottom: 10px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     background: #FFFFFF;
 }

 .CardDetail {
     width: 80%;
     display: flex;
     flex-direction: column;

     align-items: center;
 }

 .ph-storefront {
     width: 20%;
 }

 .CardDetailHeader {
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }

 .CardDetailSubHeader {
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 .titleStore {
     font-size: 20px;
     font-weight: bold;
     margin-bottom: 15;
     color: #7A7A80;
 }



 .imageGas {
     width: 120px;
     margin: 0;

 }

 .ButtonGasContainer {
     width: 60%;
     display: flex;
     align-items: center;
     justify-content: center;

 }

 .ButtonGasPlus,
 .ButtonGasMinus {
     width: 20px;
     height: 20px;

     background: #E1E1E8;
     border: 0;
     border-radius: 50%;
     cursor: pointer;

     font-size: 28px;

     display: flex;
     align-items: center;
     justify-content: center;

 }

 .quantidadeGas {
     margin: 0;

     display: flex;
     align-items: center;
     justify-content: center;

     width: 35px;
     height: 35px;

     font-family: 'Roboto', sans-serif;
     font-size: 24px;
     font-weight: 500;

     border-radius: 50%;

     color: #FFFFFF;
     background-color: #FD841F;

     z-index: 1;
     position: absolute;
 }

 .quantidade {
     display: flex;
     align-items: center;
     justify-content: center;

     width: 30px;
     height: 30px;

     font-size: 12px;
     font-weight: 500;
     border-radius: 50%;

     color: #FFFFFF;
     background-color: #FD841F;
 }

 .GasContainer {

     width: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .CardContainer {
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;

     padding-top: 10px;
 }

 .ButtonAddCarrinho {
     width: 50%;
     height: 40px;

     border: none;
     border-radius: 50px;

     background: #5F9DF7;
     color: #FFFFFF;

     margin-top: 40px;
     margin-bottom: 20px;
 }

 .storeContainer {
     width: 20%;
 }

 .ButtonProps {
     width: 100%;
     margin-top: 20px;

     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
 }

 .ButtonContainer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 10px;
 }

 .Button {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50px;
     height: 50px;
     border: none;
     background: #5F9DF7;
     border-radius: 50px;
     color: #ffffff;
 }

 .TitleButton {

     font-family: 'Roboto', sans-serif;
     font-weight: bold;
     font-size: 12px;
     color: #47474D;
     align-items: center;
 }

 .StapContainer {
     width: 80%;
     height: auto;
     background: #FFFFFF;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     padding-top: 15px;

 }

 .stapNumber {
     width: 25px;
     height: 25px;
     border: 1px solid #AEAEB3;
     border-radius: 50%;
     background: #efeff5;
     color: #47474D;

     display: flex;
     align-items: center;
     justify-content: center;

 }

 .stapBar {
     width: 25%;
     height: 6px;
     background: #5f9cf7ab;
     border-radius: 10px;
     margin-bottom: 50px;
 }

 .stap {
     width: 5%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;

 }

 /* Pagamento Styles */

 .CardsContainer {
     width: 75%;
     height: 120px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     background: #ffffff;
     margin: 5px 0;
     padding: 10px 35px 10px 20px;
     border-radius: 5px;
 }

 .InfoContainer {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .TitleName {
     color: #5F9DF7;
 }

 .ContentContainer {

     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 5px;
 }

 .ImgContainer {
     display: flex;
     gap: 10px;
 }

 .Logoimage {
     width: 30px;
 }

 .Title {
     font-size: 14px;
     font-weight: 500;
     color: #7a7a80;
     margin-left: 5px;
     font-weight: bold;
 }

 .RadioBox {
     width: 28px;
 }

 /* Style Confirmação */

 .DataContainer {
     width: 50vmax;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border: 2px solid #03B252;
     background: #efeff565;
     border-radius: 10px;
     margin-top: 20px;


 }

 @media(max-width: 720px) {
     .DataContainer {
         width: 80%;
     }
 }

 .title {
     font-size: 16px;
     font-weight: 500;
 }